/* Global classes */
body{
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
}
.container-fluid{
  padding: 7% 10%;
}
.download-button{
  margin: 4% 2% 4% 0%;
}
h1,h2,h3,h4{
  font-family: "Montserrat Black";
}
h1,h2{
  font-size: 3.5rem;
  line-height: 1.5;
}
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.uncolored-section{
  background-color: #fff;
}
p{
  color: #8f8f8f;
  font-family: 'Montserrat bold', sans-serif;
  width: 70%;
  margin: 0 auto 15px;
}
/* Title Section */
#title .container-fluid{
  padding: 3% 10% 12%;
  text-align: left;
}
/* Nav subsection */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family:'Montserrat Light',sans-serif;
  font-size: 1.2rem;
}
/* Title subsection */
.title-image{
  max-width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
@media (max-width:1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title .container-fluid{
    text-align: center;
  }  
}


/* Features section */
#features{
  position: relative;
}
.features-icon{
  margin-bottom: 1rem;
  color:#ef8172;
}
.features-icon:hover{
  color: #ff4c68;
}
.features-text{
  padding: 4.5%;
}
.features-h3{
  font-size: 1.5rem;
}
/* Testimonials section */
#testimonials{
  background-color: #e66b56;
}
.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin-top: 15px;
  margin-right: 15px;
}
/* Press section */
#press{
  background-color: #e66b56;
}
.press-logo{
  width: 15%;
  margin: 1.5% 1.5% 3%;
}
/* Pricing section */
#pricing{
  font-family: 'Montserrat Bold',sans-serif;
}
.card-column{
  padding: 3% 2%;
}
.sign-up{
  width: 100%;
}
/* Cta section */
.cta-heading{
  font-size: 3.5rem;
  line-height: 2;
}
/* Footer section */
.footer-link{
  margin: 10px;
  line-height: 3;
}
